# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.DotNET_3B3_Student_to_Student_Lending_Platform_Project.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
